body {
  background-color: #94c5cc;
  color: #f8f8f8;
  font-family: "Raleway", "sans-se-rif";
  font-size: 19px;
  max-width: 100%;
}

#headerBlock {
  background-color: #372554;
  width: 100%;
  height: auto;
  font-family: "Lobster Two", cursive;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 25px;
}

h1 {
  padding-top: 10px;
  font-size: 50px;
  margin-left: 15px;
  padding-bottom: 10px;
}

img {
  float: right;
  margin-top: -95px;
  border-radius: 5%;
  width: 130px;
  height: 150px;
  margin-right: 10px;
}

#breakLine {
  width: 430px;
  height: 2px;
  background-color: #f8f8f8;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-top: -10px;
  margin-left: 15px;
  margin-bottom: 0px;
  font-size: 20px;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin-left: 10px;
  font-size: 15px;
}

p {
  margin-bottom: 0px;
  font-size: 15px;
}

.p2 {
  grid-column: 1;
  grid-row: 1;
}

.wk2 {
  grid-column: 2;
  grid-row: 1;
  margin-top: 15px;
}

.p3 {
  grid-column: 1;
  grid-row: 2;
}

.wk3 {
  grid-column: 2;
  grid-row: 2;
  margin-top: 15px;
}

.p4 {
  grid-column: 1;
  grid-row: 3;
}

.wk4 {
  grid-column: 2;
  grid-row: 3;
  margin-top: 15px;
}

.p5 {
  grid-column: 1;
  grid-row: 4;
}

.wk5 {
  grid-column: 2;
  grid-row: 4;
  margin-top: 15px;
}

.bom {
  grid-column: 2;
  grid-row: 5;
}

.p6 {
  grid-column: 1;
  grid-row: 6;
}

.wk6 {
  grid-column: 2;
  grid-row: 6;
  margin-top: 15px;
}

.p7 {
  grid-column: 1;
  grid-row: 7;
}

.wk7 {
  grid-column: 2;
  grid-row: 7;
  margin-top: 15px;
}

.lazy {
  grid-column: 2;
  grid-row: 8;
}

.p8 {
  grid-column: 1;
  grid-row: 9;
}

.table {
  grid-column: 2;
  grid-row: 9;
  margin-top: 10px;
}

.p9 {
  grid-column: 1;
  grid-row: 10;
}

.present {
  grid-column: 2;
  grid-row: 10;
  margin-top: 10px;
}

.prophets {
  grid-column: 2;
  grid-row: 10;
  margin-top: 30px; 
}

/* unvisited link */
a:link {
  color: #f8f8f8;
}
/* visited link */
a:visited {
  color: greenyellow;
}
a:hover {
  color: paleturquoise;
}

footer {
  background-color: #372554;
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 25px;
}
