@media only screen and (min-width: 1000px) and (max-width: 1920px) {


  #headerBlock {
    width: 85%;
    height: 200px;
  }

  h1 {
    padding-top: 35px;
    margin-left: 45px;
    font-size: 100px;
  }

  img {
    margin-top: -195px;
    margin-right: 25px;
    width: 300px;
    height: 300px;
  }

  h2 {
    margin-top: 30px;
    margin-left: 125px;
    font-size: 40px;
  }

  #breakLine {
    width: 1240px;
  }

  ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 35px;
  }

  .p2 {
    margin-left: 25px;
  }

  .wk2 {
    margin-top: 50px;
    margin-left: 25px;
  }

  .p3 {
    grid-column: 3;
  }

  .wk3 {
    grid-column: 3;
    margin-top: 50px;
  }

  .p4 {
    margin-left: 25px;
    margin-top: 20px;
  }
  
  .wk4 {
    margin-top: 70px;
    margin-left: 25px;
  }

  .p5 {
    grid-column: 3;
    margin-top: 20px;
  }

  .bom {
    grid-column: 3;
    margin-top: 70px;
  }

  .wk5 {
    grid-column: 3;
    margin-top: 120px;
  }

  .p6 {
    margin-left: 25px;
    margin-top: 20px;
  }
  
  .wk6 {
    margin-top: 60px;
    margin-left: 25px;
  }

  .p7 {
    grid-column: 3;
    margin-top: 20px;
  }

  .lazy {
    grid-column: 3;
    margin-top: 60px;
  }

  .wk7 {
    grid-column: 3;
    margin-top: 100px;
  }

  .p8 {
    margin-left: 25px;
    margin-top: 20px;
  }
  
  .table {
    margin-top: 60px;
    margin-left: 25px;
  }

  .wk8 {
    margin-left: 25px;
    margin-top: 100px;
  }

  .p9 {
    grid-column: 3;
    margin-top: 20px;
  }

  .present {
    grid-column: 3;
    margin-top: 60px;
  }

  .prophets {
    grid-column: 3;
    margin-top: 100px;
  }

  .wk9 {
    grid-column: 3;
    margin-top: 150px;
  }

  .p10 {
    margin-left: 25px;
    margin-top: 20px;
  }
  
  .wk10 {
    margin-top: 60px;
    margin-left: 25px;
  }

  .p11 {
    grid-column: 3;
    margin-top: 20px;
  }

  .wk11 {
    grid-column: 3;
    margin-top: 60px;
  }


  footer {
    width: 85%;
    height: 200px;
    font-size: 40px;
    margin-bottom: 80px;
  }

  .fpara2 {
    margin-top: -100px;
  }
}
