@media only screen and (min-width: 700px) and (max-width: 999px) {

  #headerBlock {
    width: 100%;
  }

  h2 {
    margin-left: 50%;
  }

  #breakLine {
    width: 500px;
    margin-left: 35px;
  }


  footer {
    width: 100%;
  }

  main {max-width: 100%;}
}
