@media only screen and (min-width: 1008px) {
    h1 {
        font-size: 100px;
      }
     
      nav ul {
        font-size: 50px;
        text-align: center;
        margin-right: 100px;
      }
     
      .hierarchy {
       grid-column: 1;
       grid-row: 1;
       width: 90%;
      }
     
      .white {
       grid-column: 2;
       grid-row: 1;
       width: 90%;
      }
      .alignment {
       grid-column: 3;
       grid-row: 1;
       width: 90%;
      }
      
      footer {
        text-align: center;
        font-size: 30px;
      }
}
