body {
  background-color: #94c5cc;
  color: #f8f8f8;
  font-family: "Raleway", "sans-se-rif";
  font-size: 19px;
  margin: auto;
  max-width: 100%;
}

header {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #372554;
}

h1 {
  font-family: "Lobster Two", cursive;
  text-align: center;
}

nav ul {
  list-style: none;
  margin-left: 35px;
}

a:link {
  color: #f8f8f8;
}
/* visited link */
a:visited {
  color: greenyellow;
}
a:hover {
  color: paleturquoise;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hierarchy {
  grid-column: 1 / 4;
  grid-row: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 70%;
  height: auto;
  background-color: #372554;
  border: #f8f8f8 solid 5px;
  border-radius: 25px;
}

.hh3 {
  text-align: center;
}

.hh4 {
  margin-left: 15px;
}

.i1 {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-radius: 5%;
}

.white {
  grid-column: 1 / 4;
  grid-row: 2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 70%;
  height: auto;
  background-color: #372554;
  border: #f8f8f8 solid 5px;
  border-radius: 25px;
}

.wh3 {
  text-align: center;
}

.wh4 {
  margin-left: 15px;
}

.i2 {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-radius: 5%;
}

.alignment {
  grid-column: 1 / 4;
  grid-row: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 70%;
  height: auto;
  background-color: #372554;
  border: #f8f8f8 solid 5px;
  border-radius: 25px;
}

.ah3 {
  text-align: center;
}

.ah4 {
  margin-left: 15px;
}

.i3 {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-radius: 5%;
}

footer {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #372554;
  }
