#entirepage {
  background-color: #e6e6fa;
  color: #f8f8f8;
  max-width: 1920px;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
}

.headerdiv {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /*border: red solid 2px;*/
}

.topBanner {
  background-color: #140152;
  border-radius: 1.5em;
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  /*font-family: "Raleway", sans-serif;*/
  font-family: "Dancing Script", cursive;
  font-size: 2em; /*24pt*/
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.logo1 {
  max-width: 15%;
  float: left;
  margin-top: -50px;
  margin-left: 10px;
}

.logo2 {
  max-width: 15%;
  float: right;
  margin-top: -50px;
  margin-right: 10px;
}

.moto {
  font-size: 1em;
}

.topNav {
  background-color: #8a2be2;
  border: black solid 2px;
  border-radius: 25px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -16px;
}

.navlist {
  list-style: none;
}

.navlist li:first-child {
  display: block;
  text-decoration: underline;
  margin-left: -20px;
}

.navlist li {
  display: none;
}

.navlist li a {
  color: #f8f8f8;
  text-decoration: none;
  margin-left: 20px;
}

.responsive li {
  display: block;
  /* the onclick JS toggles the .reponsive class from display none (.navigation li) to 
  display block because the responsive class is added to the end of the class list like this in HTML.    
  <ul class="navigation responsive">
  */
}

/* unvisited link */
a:link {
  color: #f8f8f8;
}

/* visited link */
a:visited {
  color: violet;
}

/* mouse over link */
a:hover {
  background-color: lightblue;
  border-radius: 25px;
}

/* selected link */
a:active {
  background-color: blue;
  border-radius: 25px;
}

.picturecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: auto;
  /*border: seagreen solid 3px;*/
  color: #8a2be2;
}

.pic1 {
  grid-column: 2;
  grid-row: 1;
  margin-left: auto;
  margin-right: auto;
}

.p1 {
  grid-column: 2;
  grid-row: 1;
  margin-top: 300px;
  margin-bottom: 20px;
}

.pic2 {
  grid-column: 2;
  grid-row: 2;
  margin-left: auto;
  margin-right: auto;
}

.p2{
  grid-column: 2;
  grid-row: 2;
  margin-top: 300px;
  margin-bottom: 20px;
}

.pic3 {
  grid-column: 2;
  grid-row: 3;
  margin-left: auto;
  margin-right: auto;
}

.p3{
  grid-column: 2;
  grid-row: 3;
  margin-top: 300px;
  margin-bottom: 20px;
}

.pic4 {
  grid-column: 2;
  grid-row: 4;
  margin-left: auto;
  margin-right: auto;
}

.p4{
  grid-column: 2;
  grid-row: 4;
  margin-top: 300px;
  margin-bottom: 20px;
}

.pic5 {
  grid-column: 2;
  grid-row: 5;
  margin-left: auto;
  margin-right: auto;
}

.p5{
  grid-column: 2;
  grid-row: 5;
  margin-top: 300px;
  margin-bottom: 20px;
}

.pic6 {
  grid-column: 2;
  grid-row: 6;
  margin-left: auto;
  margin-right: auto;
}

.p6{
  grid-column: 2;
  grid-row: 6;
  margin-top: 300px;
  margin-bottom: 20px;
}

.pic7 {
  grid-column: 2;
  grid-row: 7;
  margin-left: auto;
  margin-right: auto;
}

.p7{
  grid-column: 2;
  grid-row: 7;
  margin-top: 300px;
  margin-bottom: 20px;
}

.pic8 {
  grid-column: 2;
  grid-row: 8;
  margin-left: auto;
  margin-right: auto;
}

.p8{
  grid-column: 2;
  grid-row: 8;
  margin-top: 300px;
  margin-bottom: 20px;
}

.pic9 {
  grid-column: 2;
  grid-row: 9;
  margin-left: auto;
  margin-right: auto;
}

.p9{
  grid-column: 2;
  grid-row: 9;
  margin-top: 300px;
  margin-bottom: 20px;
}

.footercontainer {
  background-color: #140152;
  border-radius: 1.5em;
  /*border: red solid 2px;*/
  width: 90%;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.fpara {
  width: 95%;
  height: auto;
  margin-left: 15px;
  font-size: 0.8em;
}

.byulink {
  text-align: center;
  margin-top: -10px;
}

.date {
  margin-left: 15px;
}
