@media only screen and (min-width: 1000px) and (max-width: 1920px) {
  h1 {
    font-size: 4em;
  }

  .logo1 {
    max-width: 10%;
    margin-top: -75px;
    margin-left: 30px;
  }

  .logo2 {
    max-width: 10%;
    margin-top: -75px;
    margin-right: 30px;
  }

  a.ham {
    display: none;
  }

  .motto {
    font-size: 2em;
  }

  .navlist {
    display: flex;
    flex: 1 1 auto;
    font-size: 1.3em;
  }

  .navlist li {
    display: block;
    margin-left: 15px;
  }

  .picturecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  img:hover {
    box-shadow: 20px/*right*/ 20px /*bottom*/ 40px rgb(6, 133, 133);
  }

  .pic1 {
    grid-column: 1;
    grid-row: 1;
    margin-left: 35px;
  }

  .p1 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }

  .pic2 {
    grid-column: 2;
    grid-row: 1;
    margin-left: 35px;
  }

  .p2 {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
  }

  .pic3 {
    grid-column: 3;
    grid-row: 1;
    margin-left: 35px;
  }

  .p3 {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
  }

  .pic4 {
    grid-column: 1;
    grid-row: 2;
    margin-left: 35px;
  }

  .p4 {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
  }

  .pic5 {
    grid-column: 2;
    grid-row: 2;
    margin-left: 35px;
  }

  .p5 {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
  }

  .pic6 {
    grid-column: 3;
    grid-row: 2;
    margin-left: 35px;
  }

  .p6 {
    grid-column: 3;
    grid-row: 2;
    text-align: center;
  }

  .pic7 {
    grid-column: 1;
    grid-row: 3;
    margin-left: 35px;
  }

  .p7 {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
  }

  .pic8 {
    grid-column: 2;
    grid-row: 3;
    margin-left: 35px;
  }

  .p8 {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
  }

  .pic9 {
    grid-column: 3;
    grid-row: 3;
    margin-left: 35px;
  }

  .p9 {
    grid-column: 3;
    grid-row: 3;
    text-align: center;
  }

  .footercontainer {
    width: 75%;
  }

  .fpara {
    margin-left: 25px;
    font-size: 2em;
    text-align: center;
  }

  .byulink {
    text-align: center;
    margin-top: -10px;
    font-size: 1.5em;
  }

  .date {
    text-align: center;
    font-size: 1.5em;
  }
}
