@media only screen and (min-width: 1000px) and (max-width: 1920px) {
  .topBanner {margin-top: 30px;
  }

  h1 {
    font-size: 80px;
  }

  #logo1 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

  #logo2 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }

  .motto {
    font-size: 60px;
  }

  a.ham {
    display: none;
  }

  .navlist {
    display: flex;
    flex: 1 1 auto;
  }

  .navlist li {
    display: block;
    font-size: 30px;
    padding-left: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .heroimg {
    height: 400px;
  }

  .summarydiv {
    width: 30%;
    top: 130px;
    left: 100px;
  }

  .summary {
    text-align: left;
    font-size: 1.8em;
    margin-bottom: 15px;
  }

  .summarylist {
    line-height: 45px;
    font-size: 1.5em;
  }

  .articlecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .artpara {
    grid-column: 1;
    grid-row: 1 / 2;
    font-size: 1em;
  }

  .rodeoimg {
    grid-column: 2;
    grid-row: 2 / 3;
    margin-top: 120px;
    width: 100%;
  }

  .contactcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact {
    grid-column: 1 / 2;
    height: 230px;
    margin-top: 130px;
    padding-right: 10px;
  }

  .map {
    display: block;
    grid-column: 2 / 3;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .mapheading {
    font-family: "Raleway", sans-serif;
    color: #564592;
    margin-bottom: 15px;
  }

  .iframe {
    width: 90%;
    height: 315px;
    padding-left: 10px;
  }

  .fpara {
    margin-left: 25px;
    font-size: 40px;
    text-align: center;
  }

  .byulink {
    text-align: center;
    margin-top: -10px;
  }

  .date {
    text-align: center;
  }
}
