#entirepage {
  background-color: #e6e6fa;
  color: #f8f8f8;
  max-width: 1920px;
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
}

.headerdiv {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /*border: red solid 2px;*/
}

.topBanner {
  background-color: #140152;
  border-radius: 1.5em;
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  /*font-family: "Raleway", sans-serif;*/
  font-family: "Dancing Script", cursive;
  font-size: 2em; /*24pt*/
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.logo1 {
  max-width: 15%;
  float: left;
  margin-top: -50px;
  margin-left: 10px;
}

.logo2 {
  max-width: 15%;
  float: right;
  margin-top: -50px;
  margin-right: 10px;
}

.moto {
  font-size: 1em;
}

.topNav {
  background-color: #8a2be2;
  border: black solid 2px;
  border-radius: 25px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -16px;
}

.navlist {
  list-style: none;
}

.navlist li:first-child {
  display: block;
  text-decoration: underline;
  margin-left: -20px;
}

.navlist li {
  display: none;
}

.navlist li a {
  color: #f8f8f8;
  text-decoration: none;
  margin-left: 20px;
}

.responsive li {
  display: block;
  /* the onclick JS toggles the .reponsive class from display none (.navigation li) to 
  display block because the responsive class is added to the end of the class list like this in HTML.    
  <ul class="navigation responsive">
  */
}

/* unvisited link */
a:link {
  color: #f8f8f8;
}

/* visited link */
a:visited {
  color: greenyellow;
}

/* mouse over link */
a:hover {
  background-color: lightblue;
  border-radius: 25px;
}

/* selected link */
a:active {
  background-color: blue;
  border-radius: 25px;
}

.herocontainer {
  position: relative;
  width: 90%;
  height: auto;
  top: 15px;
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  /*border: red solid 2px;*/
}

.hero {
  margin-top: -30px;
  padding: 5px;
}
h2 {
  font-family: "Raleway", sans-serif;
  color: #564592;
}

.heroimg {
  width: 95%;
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.summarydiv {
  background-color: #8a2be2;
  border-radius: 25px;
  position: absolute;
  width: 30%;
  height: auto;
  font-size: 0.5em;
  top: 115px;
  left: 20px;
  opacity: 0.8;
}

.summary {
  margin-left: 15px;
  text-decoration: underline;
}

.summarylist {
  list-style: none;
  margin-left: -20px;
  margin-top: -6px;
  line-height: 20px;
}

.fivedaycontainer {
  display: none;
}

.articlecontainer {
  /*border: red solid 2px;*/
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
}

.art {
  font-family: "Raleway", sans-serif;
  color: #564592;
  text-decoration: underline;
  margin-left: 15px;
}

.artpara {
  width: 90%;
  color: black;
  font-size: 0.8em;
  margin-left: 25px;
  margin-top: -15px;
}

.rodeoimg {
  display: block;
  width: 90%;
  height: 200px;
  border-radius: 25px;
  border: black solid 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.contactcontainer {
  /*border: red solid 2px;*/
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.contact {
  background-color: #8a2be2;
  border-radius: 25px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.cont {
  text-align: center;
  text-decoration: underline;
  margin-top: 5px;
}

.contpara {
  text-align: center;
  margin-top: -15px;
}

.map {
  display: none;
}

.footercontainer {
  background-color: #140152;
  border-radius: 1.5em;
  /*border: red solid 2px;*/
  width: 90%;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.fpara {
  width: 95%;
  height: auto;
  margin-left: 15px;
  font-size: 0.8em;
}

.byulink {
  text-align: center;
  margin-top: -10px;
}

.date {
  margin-left: 15px;
}
