@media only screen and (min-width: 640px) {
  #logo1 {
    width: 70%;
    margin-left: 20px;
  }

  #logo2 {
    width: 70%;
    margin-left: 25px;
  }

  h1 {
    padding-top: 10px;
    font-size: 50px;
    text-align: center;
  }

  .motto {
    margin-top: -55px;
    text-align: center;
    font-size: 30px;
  }

  a.ham {
    display: none;
  }

  .navlist {
    display: flex;
    flex: 1 1 auto;
  }

  .navlist li {
    display: block;
    text-align: center;
    font-size: 25px;
    padding-left: 55px;
  }

  main {
    font-size: 30px;
  }

  .heroimg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .summarydiv {
    width: 55%;
    height: auto;
    top: 150px;
    left: 50px;
  }

  .summary {
    text-align: left;
    font-size: 1.8em;
    margin-bottom: 15px;
  }

  .summarylist {
    line-height: 45px;
    font-size: 1.5em;
  }

  #banner {
    margin-left: auto;
    margin-right: auto;
  }

  .fivedaycontainer {
    font-size: 30px;
  }

  .weather-icon {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: -20px;
  }

  .artpara {
    font-size: 30px;
  }

  .map {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .mapheading {
    font-family: "Raleway", sans-serif;
    color: #564592;
    margin-bottom: 15px;
    text-align: center;
  }

  .iframe {
    width: 90%;
    height: 315px;
    padding-left: 10px;
  }

  .fpara {
    font-size: 30px;
  }

  .byulink {
    font-size: 30px;
  }
  .date {
    font-size: 30px;
  }
}
