@media only screen and (min-width: 1008px) {

    #logo1 {
        width: 30%;
        margin-top: 10px;
      }
    
      #logo2 {
        width: 30%;
        margin-top: 10px;
      }
    
      h1 {
          font-size: 60px;
      }
    
      .motto {
      font-size: 40px;
      margin-top: 10px;
      }

      .topNav {
        font-size: 30px;
      }
} 