#entirePage {
  background-color: #e6e6fa;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.topBanner {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  height: auto;
  background-color: #140152;
  color: #f8f8f8;
  border-radius: 25px;
}

#logo1 {
  grid-column: 1;
  grid-row: 2;
  width: 80%;
  padding-top: 20px;
  margin-left: 5px;
}

#logo2 {
  grid-column: 3;
  grid-row: 2;
  width: 80%;
  padding-top: 20px;
  margin-left: 5px;
}

h1 {
  grid-column: 2;
  grid-row: 2;
  padding-top: 10px;
  margin-right: 5px;
}

.motto {
  grid-column: 2;
  grid-row: 3;
  margin-top: -10px;
  margin-left: -10px;
}

.topNav {
  background-color: #8a2be2;
  border: black solid 2px;
  border-radius: 25px;
  width: 100%;
}

.navlist {
  list-style: none;
}

.navlist li:first-child {
  display: block;
  text-decoration: underline;
  text-align: center;
  margin-left: -65px;
}

.navlist li {
  display: none;
  text-align: center;
 margin-left: -65px;
}


.navlist li a {
  color: #f8f8f8;
  text-decoration: none;
  margin-left: 20px;
}

.responsive li {
  display: block;
  /* the onclick JS toggles the .reponsive class from display none (.navigation li) to 
  display block because the responsive class is added to the end of the class list like this in HTML.    
  <ul class="navigation responsive">
  */
}

/* unvisited link */
a:link {
  color: #489fb5;
}

/* visited link */
a:visited {
  color: greenyellow;
}

/* mouse over link */
a:hover {
  background-color: lightblue;
  border-radius: 25px;
}

/* selected link */
a:active {
  background-color: blue;
  border-radius: 25px;
}

main {
  font-size: 25px;
  color: #f8f8f8;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: #8a2be2;
}

.hero {
  background-color: #8a2be2;
  border: #140152 solid 2px;
}

.fiveday {
  background-color: #140152;
  border: #8a2be2 solid 2px;
  margin-top: 10px;
}

.article {
  background-color: #8a2be2;
  border: #140152 solid 2px;
  margin-top: 10px;
}

.map {
  background-color: #140152;
  border: #8a2be2 solid 2px;
  margin-top: 10px;
}

.contact {
  background-color: #8a2be2;
  border: #140152 solid 2px;
  margin-top: 10px;
}

footer {
  background-color: #140152;
  color: #f8f8f8;
  border-radius: 25px;
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.byuiLink {
  text-align: center;
}
