@media only screen and (min-width: 1008px) {
  #logo1 {
    width: 40%;
    margin-left: 100px;
    padding-top: 50px;
  }

  #logo2 {
    width: 40%;
    margin-left: 170px;
    padding-top: 50px;
  }

  h1 {
    font-size: 70px;
  }

  .motto {
    font-size: 40px;
    margin-top: -55px;
  }

  .navlist li {
    font-size: 30px;
  } 
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
  }

  #sodasprings {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  }

  #sodasprings img { 
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  }
  
  #fishhaven {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

#fishhaven :nth-child(3) {
 margin-left: 0px;
}
#fishhaven :nth-child(4) {
  margin-left: 0px;
 }
 #fishhaven :nth-child(5) {
  margin-left: 0px;
 }

#fishhaven img { 
  margin-top: 80px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#preston{
  grid-column: 3;
  grid-row: 1;
  text-align: center;
}

#preston img { 
  margin-top: 80px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-bottom: 20px;
}

.townmotto {
margin-bottom: 30px;
}

.contactcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.iframe {
  grid-column: 3/4;
  grid-row: 1;
  width: 100%;
}

.contact {
  grid-column: 1/3;
  grid-row: 1;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

.fpara {
  font-size: 35px;
}

.byulink {
  font-size: 35px;
}

}
  