/*SMALL*/
#entirepage {
  width: 100%;
  height: auto;
  background-color: #e6e6fa;
  font-family: "Montserrat", sans-serif;
  color: #f8f8f8;
}

.topBanner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: auto;
  background-color: #140152;
  color: #f8f8f8;
  border-radius: 25px;
  margin-top: 10px;
}

#logo1 {
  grid-column: 1;
  grid-row: 2;
  width: 80%;
  padding-top: 20px;
  margin-left: 5px;
}

#logo2 {
  grid-column: 3;
  grid-row: 2;
  width: 80%;
  padding-top: 20px;
  margin-left: 20px;
}

h1 {
  grid-column: 1/4;
  grid-row: 2;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  padding: 45px;
  text-align: center;
}

.motto {
  grid-column: 1/4;
  grid-row: 3;
  margin-top: -25px;
  text-align: center;
}

.topNav {
  background-color: #8a2be2;
  border: black solid 2px;
  border-radius: 25px;
  width: 100%;
}

.navlist {
  list-style: none;
}

.navlist li:first-child {
  display: block;
  text-decoration: underline;
  text-align: center;
  margin-left: -65px;
}

.navlist li {
  display: none;
  text-align: center;
  margin-left: -65px;
}

.navlist li a {
  color: #f8f8f8;
  text-decoration: none;
  margin-left: 20px;
}

.responsive li {
  display: block;
  /* the onclick JS toggles the .reponsive class from display none (.navigation li) to 
  display block because the responsive class is added to the end of the class list like this in HTML.    
  <ul class="navigation responsive">
  */
}

/* unvisited link */
a:link {
  color: #489fb5;
}

/* visited link */
a:visited {
  color: greenyellow;
}

/* mouse over link */
a:hover {
  background-color: lightblue;
  border-radius: 25px;
}

/* selected link */
a:active {
  background-color: blue;
  border-radius: 25px;
}

h2 {
  font-family: "Raleway", sans-serif;
  grid-column: 1;
  text-align: center;
  text-decoration: underline;
}


#sodasprings {
  background-color: #489fb5;
  border-radius: 20px;
  padding-bottom: 20px;
}

#sodasprings img {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

#fishhaven {
  background-color: #489fb5;
  border-radius: 20px;
  padding-bottom: 20px;
}

#fishhaven img {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

#preston {
  background-color: #489fb5;
  border-radius: 20px;
  padding-bottom: 20px;
}

#preston img {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.map {
  display: none;
}

.contactcontainer {
  /* border: red solid 2px; */
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #f8f8f8;
}

.contact {
  background-color: #8a2be2;
  border-radius: 25px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.cont {
  text-align: center;
  text-decoration: underline;
  margin-top: 5px;
  color: #f8f8f8;
}

.contpara {
  text-align: center;
  margin-top: -15px;
}

footer {
  background-color: #140152;
  color: #f8f8f8;
  border-radius: 25px;
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.fpara {
  text-align: center;
}

.byuiLink {
  text-align: center;
}