@media only screen and (min-width: 1008px) {
  #logo1 {
    width: 50%;
    margin-top: 30px;
  }

  #logo2 {
    margin-left: 210px;
    width: 50%;
    margin-top: 30px;
}

  h1 {
    padding-top: 10px;
    font-size: 90px;
    text-align: center;
  }

  .motto {
    font-size: 60px;
    text-align: center;
  }

  .navlist li {
    font-size: 35px;
    padding-left: 90px;
  } 

h2 {
  font-size: 100px;
}

h3 {
  font-size: 60px;
}

  .heroimg {
    width: 90%;
    height: 600px;
  }

  .summarydiv {
    width: 30%;
    height: auto;
    top: 225px;
    left: 50px;
  }

  .summary {
    font-size: 2em;
  }

  .summarylist {
    margin-top: -10px;
    line-height: 80px;
    font-size: 2em;
  }

  #banner {
  font-size: 50px;
  }
  
  .foreimg {
    width: 90%;
    height: 300px;
  }

  .rodeoimg {
    width: 30%;
  }
  
} 
