@media only screen and (min-width: 640px) {
  #logo1 {
    width: 50%;
    margin-left: 10px;
  }

  #logo2 {
    width: 50%;
    margin-left: 15px;
  }

  h1 {
    padding-top: 10px;
    font-size: 50px;
    margin-right: 90px;
  }

  .motto {
    margin-top: -40px;
    margin-left: -80px;
    text-align: center;
    font-size: 25px;
  }

  a.ham {
    display: none;
  }

  .navlist {
    display: flex;
    flex: 1 1 auto;
  }

  .navlist li {
    display: block;
    text-align: center;
    font-size: 20px;
    padding-left: 55px;
  } 
  
  main {
    font-size: 30px;
  }

  .heroimg {
    width: 90%;
    margin-right: 150px;
  }

  .summarydiv {
    width: 40%;
    height: auto;
    top: 100px;
    left: 30px;
  }

  .summary {
    font-size: 1.4em;
    margin-bottom: 5px;
  }

  .summarylist {
    line-height: 35px;
    font-size: 1.2em;
  }

#banner {
  margin-left: 0px;
  margin-right: 0px;
}

.foreimg {
  width: 90%;
  margin-left: 0px;
  margin-right: 0px;
}
.artpara {
  width: 90%;
  margin-left: 0px;
  margin-right: 0px;
}

  .map {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .mapheading {
    font-family: "Raleway", sans-serif;
    color: #564592;
    margin-bottom: 15px;
    text-align: center;
  }

  .iframe {
    width: 90%;
    height: 315px;
    padding-left: 10px;

  }

  .fpara {
    font-size: 30px;
  }
  
  .byuiLink {
    font-size: 30px;
  }
}
