@media only screen and (min-width: 1000px) and (max-width: 1920px) {
  h1 {
    font-size: 4em;
  }

  .logo1 {
    max-width: 15%;
    margin-top: -90px;
    margin-left: 30px;
  }

  .logo2 {
    max-width: 15%;
    margin-top: -90px;
    margin-right: 30px;
  }

  .motto {
    font-size: 1.5em;
  }

  a.ham {
    display: none;
  }

  .navlist {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    font-size: 20px;
  }

  .navlist li {
    display: block;
  }

  h2 {
    font-size: 2em;
  }

  .heroimg {
    width: 90%;
    height: 275px;
  }

  .summarydiv {
    width: 25%;
    margin-left: 70px;
    margin-top: 40px;
    font-size: 20px;
  }

  .summarylist {
    line-height: 30px;
    margin-top: -15px;
    margin-left: -10px;
  }

  .fivedaycontainer {
    display: block;
    width: 90%;
    height: auto;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    /*border: red solid 2px;*/
  }

  .cast {
    font-family: "Raleway", sans-serif;
    color: #564592;
  }

  .foreimg {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .articlecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .artpara {
    grid-column: 1;
    grid-row: 1 / 2;
    font-size: 1em;
  }

  .rodeoimg {
    grid-column: 2;
    grid-row: 2 / 3;
    margin-top: 40px;
    height: 320px;
    width: 100%;
  }

  .contactcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contact {
    grid-column: 1 / 2;
    height: 200px;
    margin-top: 90px;
    padding-right: 10px;
  }

  .map {
    display: block;
    grid-column: 2 / 3;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .mapheading {
    font-family: "Raleway", sans-serif;
    color: #564592;
    margin-bottom: 15px;
  }

  .iframe {
    width: 90%;
    height: 315px;
    padding-left: 10px;
  }

  .fpara {
    margin-left: 25px;
    font-size: 1em;
    text-align: center;
  }

  .byulink {
    text-align: center;
    margin-top: -10px;
  }

  .date {
    margin-left: 25px;
  }
}
