#entirePage {
  background-color: #e6e6fa;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.topBanner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: auto;
  background-color: #140152;
  color: #f8f8f8;
  border-radius: 25px;
}

#logo1 {
  grid-column: 1;
  grid-row: 2;
  width: 80%;
  padding-top: 20px;
  margin-left: 5px;
}

#logo2 {
  grid-column: 3;
  grid-row: 2;
  width: 80%;
  padding-top: 20px;
  margin-left: 5px;
}

h1 {
  grid-column: 2;
  grid-row: 2;
  /*font-family: "Raleway", sans-serif;*/
  font-family: "Dancing Script", cursive;
  font-size: 2em; /*24pt*/
  padding: 10px;
margin-right: 5px;
}

.motto {
  grid-column: 2;
  grid-row: 3;
  margin-top: -10px;
  margin-left: -10px;
}

.topNav {
  background-color: #8a2be2;
  border: black solid 2px;
  border-radius: 25px;
  width: 100%;
}

.navlist {
  list-style: none;
}

.navlist li:first-child {
  display: block;
  text-decoration: underline;
  text-align: center;
  margin-left: -65px;
}

.navlist li {
  display: none;
  text-align: center;
  margin-left: -65px;
}

.navlist li a {
  color: #f8f8f8;
  text-decoration: none;
  margin-left: 20px;
}

.responsive li {
  display: block;
  /* the onclick JS toggles the .reponsive class from display none (.navigation li) to 
  display block because the responsive class is added to the end of the class list like this in HTML.    
  <ul class="navigation responsive">
  */
}

/* unvisited link */
a:link {
  color: #489fb5;
}

/* visited link */
a:visited {
  color: greenyellow;
}

/* mouse over link */
a:hover {
  background-color: lightblue;
  border-radius: 25px;
}

/* selected link */
a:active {
  background-color: blue;
  border-radius: 25px;
}

.herocontainer {
  position: relative;
}

.heroimg {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}

.summarydiv {
  background-color: #8a2be2;
  color: #f8f8f8;
  border-radius: 25px;
  position: absolute;
  width: 45%;
  height: auto;
  font-size: 0.7em;
  top: 62px;
  left: 20px;
  opacity: 0.8;
}

.summary {
  margin-left: 15px;
  text-decoration: underline;
  color: #f8f8f8;
}

.summarylist {
  list-style: none;
  margin-left: -20px;
  margin-top: -6px;
  line-height: 20px;
}

main {
  display: block;
  font-size: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #564592;
  text-align: center;
}

h3 {
  font-family: "Raleway", sans-serif;
  color: #564592;
}

#banner {
  background-color: #489fb5;
  color: #f8f8f8;
  margin-top: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
}

.cast {
  text-align: center;
  margin-bottom: 5px;
}

.foreimg {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border-radius: 20px;
}

.art {
  text-align: center;
  margin-bottom: 5px;
}

.artpara {
  text-align: left;
  width: 100%;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.rodeoimg {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.map {
  display: none;
}

.contactcontainer {
  /* border: red solid 2px; */
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #f8f8f8;
}

.contact {
  background-color: #8a2be2;
  border-radius: 25px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.cont {
  text-align: center;
  text-decoration: underline;
  margin-top: 5px;
  color: #f8f8f8;
}

.contpara {
  text-align: center;
  margin-top: -15px;
}

footer {
  background-color: #140152;
  color: #f8f8f8;
  border-radius: 25px;
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.fpara {
  text-align: center;
}

.byuiLink {
  text-align: center;
}
