@media only screen and (min-width: 640px) {

    #logo1 {
        margin-top: -70px;
      }
      
      #logo2 {
        margin-top: -70px;
      }

.topNav {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.navigation {
    display: flex;
  }

  .navigation li {
    display: block;
  }

.responsive li {
    display: none;
}

.navigation a {
    display: flex;
    padding: 10px;
    text-align: left;
  }
  
  a.ham {
      display: none;
  }
}