@media only screen and (min-width: 640px) {
  #logo1 {
    width: 60%;
    padding-top: 20px;
    margin-left: 10px;
  }

  #logo2 {
    width: 60%;
    padding-top: 20px;
    margin-left: 90px;
  }

  h1 {
    font-size: 50px;
    padding: 55px;
    text-align: center;
  }

  .motto {
    font-size: 30px;
    margin-top: -45px;
  }

  a.ham {
    display: none;
  }

  .navlist {
    display: flex;
    flex: 1 1 auto;
  }

  .navlist li {
    display: block;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
  } 
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
  }

  #sodasprings {
  grid-column: 1/4;
  grid-row: 1;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 25px;
  }

  #sodasprings img { 
    grid-column: 3/4;
    grid-row: 1;
    width: 40%;
    margin-right: 20px;
    margin-top: -170px;
  }
  
  #fishhaven {
  grid-column: 1/4;
  grid-row: 2;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 25px;
}

#fishhaven :nth-child(3) {
 margin-left: 380px;
}
#fishhaven :nth-child(4) {
  margin-left: 380px;
 }
 #fishhaven :nth-child(5) {
  margin-left: 380px;
 }

#fishhaven img { 
  grid-column: 1;
  grid-row: 2;
  width: 40%;
  margin-top: -200px;
  margin-left: 20px;
}

#preston{
  grid-column: 1/4;
  grid-row: 3;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 25px;
}

#preston img { 
  grid-column: 3/4;
  grid-row: 3;
  width: 40%;
  margin-right: 20px;
  margin-top: -170px;
}

h2 {
  margin-bottom: 10px;
}

.townmotto {
  margin-top: 0px;
text-align: center;
margin-bottom: 50px;
}

.contact {
  font-size: 25px;
}

.map {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.mapheading {
  font-family: "Raleway", sans-serif;
  color: #564592;
  font-size: 25px;
  margin-bottom: 15px;
  text-align: center;
}

.iframe {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.fpara {
  font-size: 30px;
  margin-bottom: 0px;
}

.byulink {
  font-size: 30px;
  margin-top: 0px;
}

.date {
  font-size: 30px;
}
/**********************************************************************************************/
/*PRESTON*/
main {
  font-size: 30px;
}

.heroimg {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.summarydiv {
  width: 60%;
  height: auto;
  top: 130px;
  left: 50px;
}

.summary {
  text-align: left;
  font-size: 1.8em;
  margin-bottom: 15px;
}

.summarylist {
  line-height: 45px;
  font-size: 1.5em;
}

#banner {
  margin-left: auto;
  margin-right: auto;
}

.fivedaycontainer {
  font-size: 30px;
}
.week-day {
  font-size: 22px;
}

.weather-icon {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: -20px;
}

.artpara {
  font-size: 30px;
}

.preston {
  font-size: 30px;
}
/**********************************************************************************************/
/*SODA SPRINGS*/
main {
  font-size: 30px;
}

.spheroimg {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.spsummarydiv {
  width: 60%;
  height: auto;
  top: 130px;
  left: 50px;
}

.spsummary {
  text-align: left;
  font-size: 1.8em;
  margin-bottom: 15px;
}

.spsummarylist {
  line-height: 45px;
  font-size: 1.5em;
}

.spfivedaycontainer {
  font-size: 30px;
}
.week-day {
  font-size: 22px;
}

.spweather-icon {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: -20px;
}

.spartpara {
  font-size: 30px;
}

.soda {
  font-size: 30px;
}

.source {
  font-size: 25px;
  text-align: center;
}
/**********************************************************************************************/
/*FISH HAVEN*/
main {
  font-size: 30px;
}

.fhheroimg {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.fhsummarydiv {
  width: 60%;
  height: auto;
  top: 130px;
  left: 50px;
}

.fhsummary {
  text-align: left;
  font-size: 1.8em;
  margin-bottom: 15px;
}

.fhsummarylist {
  line-height: 45px;
  font-size: 1.5em;
}

.fhfivedaycontainer {
  font-size: 30px;
}
.week-day {
  font-size: 22px;
}

.fhweather-icon {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: -20px;
}

.fhartpara {
  font-size: 30px;
}

.fish {
  font-size: 30px;
}

.credit {
  font-size: 25px;
}
/**********************************************************************************************/
/*STORM CENTER*/
.comments {
  width: 90%;
}

.map {
display: block;
width: 90%;
margin-left: auto;
margin-right: auto;
}

.mapheading {
font-family: "Raleway", sans-serif;
color: #564592;
margin-bottom: 15px;
text-align: center;
}

.iframe {
width: 90%;
height: 315px;
padding-left: 10px;

}
/**********************************************************************************************/
/*GALLERY*/
.picturecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pic1 {
  grid-column: 1;
  grid-row: 1;
  width: 80%;
  margin-left: -40px;
}

.p1 {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  width: 90%;
  margin-left: 0px;
}

.pic2 {
  grid-column: 2;
  grid-row: 1;
  width: 80%;
  margin-left: -40px;
}

.p2{
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  width: 90%;
  margin-left: 0px;
}

.pic3 {
  grid-column: 1;
  grid-row: 2;
  width: 80%;
  margin-left: -40px;
}

.p3{
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  width: 90%;
  margin-left: 0px;
}

.pic4 {
  grid-column: 2;
  grid-row: 2;
  width: 80%;
  margin-left: -40px;
}

.p4{
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  width: 90%;
  margin-left: 0px;
}

.pic5 {
  grid-column: 1;
  grid-row: 3;
  width: 80%;
  margin-left: -40px;
}

.p5{
  grid-column: 1;
  grid-row: 3;
  text-align: center;
  width: 90%;
  margin-left: 0px;
}

.pic6 {
  grid-column: 2;
  grid-row: 3;
  width: 80%;
  margin-left: -40px;
}

.p6{
  grid-column: 2;
  grid-row: 3;
  text-align: center;
  width: 90%;
  margin-left: 0px;
}

.pic7 {
  grid-column: 1;
  grid-row: 4;
  width: 80%;
  margin-left: -40px;
}

.p7{
  grid-column: 1;
  grid-row: 4;
  text-align: center;
  width: 90%;
  margin-left: 0px;
}

.pic8 {
  grid-column: 2;
  grid-row: 4;  
  width: 80%;
  margin-left: -40px;
}

.p8{
  grid-column: 2;
  grid-row: 4;
  text-align: center;
  width: 90%;
  margin-left: 0px;
}

.pic9 {
  grid-column: 1;
  grid-row: 5;
  width: 80%;
  margin-left: -40px;
}

.p9{
  grid-column: 1;
  grid-row: 5;
  text-align: center;
  width: 90%;
  margin-left: 0px;
}

.date {
  margin-left: 25px;
}

.lastvisit {
  font-size: 25px;
}
}
