#entirePage {
    background-color: #7dd8d9;
  }
  
  .headerDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: auto;
  }
  
  .headerSection {
    grid-column: 1 / 4;
    grid-row: 1;
  }
  
  .city {
    grid-column: 1 / 4;
    grid-row: 1;
    color: #0f2d66;
    text-align: center;
    margin-left: 30px;
    margin-bottom: -15px;
  }
  
  .chamber {
    color: #0f2d66;
    grid-column: 1 / 4;
    grid-row: 1;
    text-align: center;
    margin-left: 30px;
    margin-bottom: -45px;
  }
  
  .logo {
    grid-column: 1;
    grid-row: 1;
    width: 20%;
    margin-top: -30px;
  }
  
  .motto {
    color: #f2482a;
    grid-column: 1 / 4;
    grid-row: 1;
    margin-top: 20px;
    margin-left: 30px;
    text-align: center;
  }
  
  .topNav {
    background-color: #0f2d66;
    border: black solid 2px;
    border-radius: 25px;
    width: 30%;
    grid-column: 1 / 4;
    grid-row: 2;
    margin-left: auto;
    margin-right: auto;
  }
  
  .navList {
    list-style: none;
  }
  
  .navList li:first-child {
    display: block;
    text-decoration: underline;
    text-align: center;
  }
  
  .navList li {
    display: none;
    text-align: center;
    margin-left: -65px;
  }
  
  .navList li a {
    color: #f2482a;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .responsive li {
    display: block;
  }
  
  /* unvisited link */
  a:link {
    color: #ffff;
  }
  
  /* visited link */
  a:visited {
    color: #f2482a;
  }
  
  /* mouse over link */
  a:hover {
    background-color: #9d8df1;
    border-radius: 25px;
  }
  
  /* selected link */
  a:active {
    background-color: #9d8df1;
    border-radius: 25px;
    text-decoration: underline;
  }
  
  h1,
  h2,
  h3 {
    color: #0f2d66;
  }

  .reply {
      margin-top: 100px;
  }

  .footercontainer {
    background-color: #0f2d66;
    color: #ffff;
    border-radius: 25px;
    width: 90%;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .fpara {
    text-align: center;
  }
  
  .byulink {
    margin-left: 30px;
    margin-right: 10px;
  }
  
  .cite {
    margin-left: 30px;
  }
  
  .date {
    text-align: center;
  }
  
  .social {
    text-align: center;
  }
  
  /* Facebook */
  .facebook {
    background: #3b5998;
    margin-right: 10px;
  }
  
  /* Twitter */
  .twitter {
    background: #55acee;
  }
  
  /*****************************************************************************/
  @media only screen and (min-width: 640px) {
    .city {
      font-size: 35px;
      margin-top: 50px;
      margin-bottom: -15px;
    }
  
    .chamber {
      font-size: 30px;
      margin-top: 45px;
      margin-bottom: -40px;
    }
  
    .logo {
      width: 30%;
      margin-top: -100px;
      margin-bottom: 0px;
      border-radius: 10px;
    }
  
    .motto {
      font-size: 25px;
      margin-top: -10px;
    }
  
    .topNav {
      width: 90%;
    }
  
    a.ham {
      display: none;
    }
  
    .navList {
      display: flex;
      flex: 1 1 auto;
    }
  
    .navList li {
      display: block;
      font-size: 25px;
      margin-left: -5px;
      margin-right: 10px;
    }

    .reply {
       font-size: 25px;
    }

    .fpara {
        font-size: 25px;
      }
    
      .byulink {
        font-size: 25px;
        margin-left: 130px;
      }
    
      .cite {
        font-size: 25px;
        margin-left: 50px;
      }
    
      .date {
        font-size: 25px;
      }
    }
    /*******************************************************************/
    @media only screen and (min-width: 1008px) {
      .city {
        font-size: 65px;
      }
    
      .chamber {
        font-size: 50px;
      }
    
      .logo {
        width: 20%;
        margin-top: -150px;
      }
    
      .motto {
        font-size: 45px;
        margin-top: -50px;
      }
    
      nav {
        margin-bottom: 50px;
      }
    
      .navList li {
        font-size: 45px;
        margin-left: 30px;
      }

      .reply {
        font-size: 30px;
     }

      .fpara {
        font-size: 40px;
      }
    
      .byulink {
        font-size: 30px;
        margin-left: 380px;
      }
    
      .cite {
        font-size: 30px;
        margin-left: 50px;
      }
    
      .date {
        font-size: 30px;
      }
    }
    