@media only screen and (min-width: 1008px) {
  header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #logo1 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  #logo2 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  h1 {
    font-size: 50px;
    text-align: center;
  }

  .motto {
    font-size: 40px;
    margin-top: -60px;
    margin-left: -50px;
  }

  nav ul {
    font-size: 35px;
    width: 80%;
  }

  nav ul li {
    padding-left: 20px;
    text-align: center;
    margin-left: 120px;
  }

  main {
    max-width: 90%;
    font-size: 30px;
  }

  .colorbox {
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }

.cS {
    grid-column: 1/5;
    text-align: center;
    margin-top: 100px;
}

  .c1 {
    grid-column: 1;
    grid-row: 2;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-left: 100px;
  }

  .c2 {
    grid-column: 2;
    grid-row: 2;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-left: 25px;
  }

  .c3 {
    grid-column: 3;
    grid-row: 2;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-left: 25px;
  }

  .c4 {
    grid-column: 4;
    grid-row: 2;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-left: 25px;
  }

  .minorColors {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  .mC {
    grid-column: 1/4;
    text-align: center;
    margin-top: 100px;
  }
  .m1 {
    grid-column: 1/4;
    grid-row: 2;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .m2 {
    grid-column: 1/4;
    grid-row: 3;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .m3 {
    grid-column: 1/4;
    grid-row: 4;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 40px;
  }
}
