#entirePage {
  background-color: #e6e6fa;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.topBanner {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  height: auto;
  background-color: #140152;
  color: #f8f8f8;
  border-radius: 25px;
}

#logo1 {
  grid-column: 1;
  grid-row: 2;
  width: 80%;
  padding-top: 20px;
  margin-left: 5px;
}

#logo2 {
  grid-column: 3;
  grid-row: 2;
  width: 80%;
  padding-top: 20px;
  margin-left: 5px;
}

h1 {
  grid-column: 2;
  grid-row: 2;
  padding-top: 10px;
  margin-right: 5px;
}

.motto {
  grid-column: 2;
  grid-row: 3;
  margin-top: -10px;
  margin-left: -10px;
}

.topNav {
  background-color: #8a2be2;
  border: black solid 2px;
  border-radius: 25px;
  width: 100%;
}

nav ul{
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

nav li{
  list-style: none;
}

/* unvisited link */
a:link {
  color: #489fb5;
}

/* visited link */
a:visited {
  color: greenyellow;
}

/* mouse over link */
a:hover {
  background-color: lightblue;
  border-radius: 25px;
}

/* selected link */
a:active {
  background-color: blue;
  border-radius: 25px;
}

main {
  font-size: 25px;
}

.colorbox {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 10px;
}

.cS {
  grid-column: 1/4;
  grid-row: 1;
  color: #8a2be2;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.c1 {
  border: #489fb5 solid 2px;
  grid-column: 1/4;
  grid-row: 2;
  margin-bottom: 10px;
  color: #140152;
}

.c2 {
  border: #489fb5 solid 2px;
  grid-column: 1/4;
  grid-row: 3;
  margin-bottom: 10px;
  background-color: #140152;
  color: #f8f8f8;
}

.c3 {
  border: #489fb5 solid 2px;
  grid-column: 1/4;
  grid-row: 4;
  margin-bottom: 10px;
  background-color: #f8f8f8;
  color: #140152;
}

.c4 {
  border: #489fb5 solid 2px;
  grid-column: 1/4;
  grid-row: 5;
  margin-bottom: 10px;
  background-color: #564592;
  color: #f8f8f8;
}

.minorColors {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 10px;
}

.mC {
  grid-column: 1/4;
  grid-row: 1;
  margin-bottom: 10px;
  color: #489fb5;
  margin-left: auto;
  margin-right: auto;
}

.m1 {
  border: #489fb5 solid 2px;
  grid-column: 1/4;
  grid-row: 2;
  margin-bottom: 10px;
  background-color: black;
  color: #f8f8f8;
}

.m2 {
  border: black solid 2px;
  grid-column: 1/4;
  grid-row: 3;
  margin-bottom: 10px;
  background-color: #489fb5;
  color: #f8f8f8;
}

.m3 {
  border: #489fb5 solid 2px;
  grid-column: 1/4;
  grid-row: 4;
  margin-bottom: 10px;
  background-color: #8a2be2;
  color: #f8f8f8;
}

footer {
  background-color: #140152;
  color: #f8f8f8;
  border-radius: 25px;
}

.byuiLink {
  text-align: center;
}
