@media only screen and (min-width: 641px) {
  header {
    margin-top: 25px;
  }

  #logo1 {
    grid-column: 1 / 2;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  #logo2 {
    grid-column: 3 / 4;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    grid-column: 2 / 3;
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
  }

  .motto {
    font-size: 30px;
    text-align: center;
  }

  nav ul{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    list-style: none;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  nav li {
      padding-left: 20px;
  }

  main {
    font-size: 30px;
  }
      
      .t1 {
        margin-left: 125px;
        margin-bottom: 150px;
      }

      footer {
          font-size: 35px;
      }
}