#entirePage {
  background-color: #e6e6fa;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.topBanner {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  height: auto;
  background-color: #140152;
  color: #f8f8f8;
  border-radius: 25px;
}

#logo1 {
  grid-column: 1;
  grid-row: 2;
  width: 80%;
  padding-top: 20px;
  margin-left: 5px;
}

#logo2 {
  grid-column: 3;
  grid-row: 2;
  width: 80%;
  padding-top: 20px;
  margin-left: 5px;
}

h1 {
  grid-column: 2;
  grid-row: 2;
  padding-top: 10px;
  margin-right: 5px;
}

.motto {
  grid-column: 2;
  grid-row: 3;
  margin-top: -10px;
  margin-left: -10px;
}

.topNav {
  background-color: #8a2be2;
  border: black solid 2px;
  border-radius: 25px;
  width: 100%;
}

nav ul{
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

nav li{
  list-style: none;
}

/* unvisited link */
a:link {
  color: #489fb5;
}

/* visited link */
a:visited {
  color: greenyellow;
}

/* mouse over link */
a:hover {
  background-color: lightblue;
  border-radius: 25px;
}

/* selected link */
a:active {
  background-color: blue;
  border-radius: 25px;
}

main {
  font-size: 25px;
}

.typo {
  margin-top: 100px;
  color: #8a2be2;
  text-align: center;
}

.t1 {
  margin-bottom: 100px;
}

footer {
  background-color: #140152;
  color: #f8f8f8;
  border-radius: 25px;
}

.byuiLink {
  text-align: center;
}
