@media only screen and (min-width: 1008px) {
  header{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #logo1 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  #logo2 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  h1 {
    font-size: 50px;
    text-align: center;
  }

  .motto {
    font-size: 40px;
    margin-top: -60px;
    margin-left: -50px;
  }

  nav ul {
    font-size: 35px;
    width: 80%;
  }

  nav ul li {
    padding-left: 50px;
    text-align: center;
    margin-left: 50px;
  }
  
    main {
      max-width: 90%;
      font-size: 30px;
    }
  
    .t1 {
        text-align: center;
        margin-bottom: 150px;
      }
  
    footer {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      font-size: 40px;
    }
  }
  