@media only screen and (min-width: 1000px) and (max-width: 1920px) {
  header{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #logo1 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  #logo2 {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  h1 {
    font-size: 50px;
    text-align: center;
  }

  .motto {
    font-size: 40px;
    margin-top: -60px;
    margin-left: -50px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    font-size: 35px;
  }

  nav ul li {
    padding-left: 20px;
    text-align: center;
    margin-left: 20px;
  }

  main {
    max-width: 90%;
    font-size: 30px;
  }

  .pur {
    margin-left: 70px;
  }
  .purpose{
    margin-left: 90px;
    padding-right: 10px;
  }
  
  .dN {
    margin-left: 70px;
  }
  
  .domain {
    margin-left: 90px;
    margin-bottom: 50px;
  }

  footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
  }
}
