@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

main {
  max-width: 1120px;
  margin: 0 auto;
}

.cards {
  border: black solid 2px;
  padding: 10px;
  text-align: center;
  background-color: rgb(141, 156, 172);
}

section {
  width: 95%;
  border: rgb(71, 1, 71) solid 2px;
  margin: 3px;
  background-color: cornflowerblue;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h2 {
  color: rgb(247, 233, 81);
  text-decoration: underline;
  font-family: "Satisfy", cursive;
  letter-spacing: 3px;
  margin-bottom: -10px;
}

.img {
  width: 80%;
  height: 275px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 50px rgb(241, 243, 98) ;
}

.p1,.p2,.p3 {
    font-family: 'Courgette', cursive;
}

.p1 {
    margin-bottom: -10px;
}

.p2 {
    margin-bottom: -10px;
}


/*Medium*/
@media only screen and (min-width: 700px) and (max-width: 999px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/*Large*/
@media only screen and (min-width: 1000px) and (max-width: 1920px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}